<%-include("partials/header")-%>

<h1>Compose</h1>
<form  action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="postTitle" class="form-control" autocomplete="off" autofocus>
    <label>Post</label>
    <textarea name="postCont" rows="8" cols="80" class="form-control"></textarea>
  </div>
  <input type="submit" name="sub" value="Publish" class="btn btn-primary">

</form>
<%-include("partials/footer")-%>
